USE [apptsoft]
GO
/****** Object:  Table [dbo].[_Address]    Script Date: 3/18/2026 12:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Address](
	[AddressID] [int] NOT NULL,
	[Client_ID] [int] NULL,
	[Street] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NOT NULL,
	[Pincode] [varchar](10) NULL,
	[Country] [varchar](50) NULL,
	[AddressType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_Client_01]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_Client_01](
	[Client_ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Age] [int] NULL,
	[Country] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_dept]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_dept](
	[dept_id] [int] NULL,
	[dept_name] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_emp]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_emp](
	[emp_id] [int] NOT NULL,
	[emp_name] [varchar](200) NULL,
	[mobile] [varchar](10) NULL,
	[dept_id] [int] NULL,
	[email] [varchar](20) NULL,
	[address] [varchar](20) NULL,
	[salary] [money] NULL,
	[Dob] [date] NULL,
	[doj] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_emp_01]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_emp_01](
	[emp_id] [int] NOT NULL,
	[emp_name] [varchar](50) NULL,
	[department] [varchar](50) NULL,
	[salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_emp3411]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_emp3411](
	[emp_id] [int] NOT NULL,
	[emp_name] [varchar](50) NULL,
	[department] [varchar](50) NULL,
	[salary] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Master]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Master](
	[Company_Id] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [varchar](200) NOT NULL,
	[Address1] [varchar](200) NULL,
	[Address2] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Zip_Code] [varchar](20) NULL,
	[Country] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Is_Active] [bit] NULL,
	[Created_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptID] [int] NOT NULL,
	[DeptName] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empl]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empl](
	[EmpID] [int] NOT NULL,
	[EmpName] [varchar](50) NULL,
	[ManagerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [int] NOT NULL,
	[EmpName] [varchar](50) NULL,
	[Gender] [char](1) NULL,
	[Salary] [int] NULL,
	[DeptID] [int] NULL,
	[JoiningDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees_2023]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees_2023](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[department] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees_2024]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees_2024](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[department] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCard_Details]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCard_Details](
	[JCD_Id] [int] IDENTITY(1,1) NOT NULL,
	[JobCard_Id] [int] NULL,
	[Item_No] [varchar](50) NULL,
	[Item_Description] [varchar](max) NULL,
	[Qty_Per_Bale] [int] NULL,
	[Bale_Count] [int] NULL,
	[Total_Quantity] [int] NULL,
	[Unit] [varchar](10) NULL,
	[Process_Type] [varchar](100) NULL,
	[Completed_Qty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JCD_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCard_Master]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCard_Master](
	[JobCard_Id] [int] IDENTITY(1,1) NOT NULL,
	[JobCard_Number] [varchar](50) NULL,
	[PO_Id] [int] NULL,
	[PO_Number] [varchar](50) NULL,
	[Vendor_Id] [int] NULL,
	[Company_Id] [int] NULL,
	[Job_Date] [datetime] NULL,
	[Buyer_Name] [varchar](200) NULL,
	[Status] [int] NULL,
	[Created_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobCard_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCard_Production_Tracking]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCard_Production_Tracking](
	[Tracking_Id] [int] IDENTITY(1,1) NOT NULL,
	[JobCard_Id] [int] NULL,
	[JCD_Id] [int] NULL,
	[Operation_Name] [varchar](100) NULL,
	[Input_Qty] [int] NULL,
	[Output_Qty] [int] NULL,
	[Wastage_Qty] [int] NULL,
	[Machine_Name] [varchar](100) NULL,
	[Start_Time] [datetime] NULL,
	[End_Time] [datetime] NULL,
	[Operator_Name] [varchar](100) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tracking_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production_Operations]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Operations](
	[Operation_Id] [int] IDENTITY(1,1) NOT NULL,
	[Operation_Name] [varchar](100) NULL,
	[Sequence_No] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Operation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PO_Id] [int] IDENTITY(1,1) NOT NULL,
	[PO_Number] [varchar](20) NOT NULL,
	[PO_Date] [date] NOT NULL,
	[Vendor_Id] [int] NOT NULL,
	[Company_Id] [int] NOT NULL,
	[Buyer_Name] [varchar](100) NULL,
	[Buyer_Phone] [varchar](20) NULL,
	[Ship_Via] [varchar](50) NULL,
	[Receive_By_Date] [date] NULL,
	[Payment_Terms] [varchar](200) NULL,
	[Currency] [varchar](10) NULL,
	[Sub_Total] [decimal](18, 2) NULL,
	[Tax_Amount] [decimal](18, 2) NULL,
	[Freight] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[Grand_Total] [decimal](18, 2) NULL,
	[PO_Status] [varchar](20) NULL,
	[Approved_By] [varchar](100) NULL,
	[Approved_Date] [datetime] NULL,
	[Created_By] [varchar](50) NULL,
	[Created_Date] [datetime] NULL,
	[Is_Active] [bit] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PO_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder_Details]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder_Details](
	[POD_Id] [int] IDENTITY(1,1) NOT NULL,
	[PO_Id] [int] NOT NULL,
	[Item_No] [varchar](50) NULL,
	[Item_Description] [varchar](max) NULL,
	[Qty_Per_Bale] [int] NULL,
	[Bale_Count] [int] NULL,
	[Total_Quantity] [int] NULL,
	[Unit] [varchar](10) NULL,
	[Unit_Price] [decimal](18, 2) NULL,
	[Line_Total] [decimal](18, 2) NULL,
	[Remarks] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[POD_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAMC]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAMC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](12) NOT NULL,
	[Tittle] [nvarchar](26) NULL,
	[MobileNo] [nvarchar](12) NOT NULL,
	[VendorName] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[PaidDate] [datetime] NULL,
	[PaidBy] [nvarchar](50) NULL,
	[TransactionNo] [nvarchar](50) NULL,
	[PaidMode] [nvarchar](12) NULL,
	[Receipt] [nvarchar](56) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblAMC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComplaint]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComplaint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](12) NOT NULL,
	[Title] [nvarchar](26) NULL,
	[Description] [nvarchar](500) NULL,
	[Complaint] [nvarchar](500) NULL,
	[ComplaintDate] [datetime] NULL,
	[Status] [bit] NULL,
	[ResolvedBy] [nvarchar](50) NULL,
	[ResolveDate] [datetime] NULL,
	[Proof] [nvarchar](56) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblComplaint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblContractor]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContractor](
	[Contractor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Contractor_Name] [nvarchar](200) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Contractor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCorpusFund]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCorpusFund](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](12) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[BalanceAmount] [decimal](18, 2) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblCorpusFund] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDispatch]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDispatch](
	[Dispatch_Id] [int] IDENTITY(1,1) NOT NULL,
	[Sr_No] [int] NULL,
	[Customer] [nvarchar](200) NULL,
	[PO_Number] [nvarchar](100) NULL,
	[PO_Id] [int] NULL,
	[Size_Of_Bag] [nvarchar](100) NULL,
	[Req_Wt] [decimal](18, 2) NULL,
	[Total_Req_Wt] [decimal](18, 2) NULL,
	[Actual_Quantity] [int] NULL,
	[Act_Wt] [decimal](18, 2) NULL,
	[Total_Act_Wt] [decimal](18, 2) NULL,
	[Rate] [decimal](18, 2) NULL,
	[Kg_Or_Pcs] [nvarchar](20) NULL,
	[Total_Cost] [decimal](18, 2) NULL,
	[Contractor] [nvarchar](200) NULL,
	[Status] [int] NULL,
	[Created_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dispatch_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDispatchContractor]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDispatchContractor](
	[DisContr_Id] [int] IDENTITY(1,1) NOT NULL,
	[Dispatch_Id] [int] NULL,
	[Contractor_Id] [int] NULL,
	[Contractor_Name] [nvarchar](200) NULL,
	[Customer] [nvarchar](200) NULL,
	[PO_Ref_No] [nvarchar](100) NULL,
	[Size_Of_Bag] [nvarchar](100) NULL,
	[Actual_Quantity] [int] NULL,
	[Act_Wt] [decimal](18, 2) NULL,
	[Total_Wt] [decimal](18, 2) NULL,
	[Rate] [decimal](18, 2) NULL,
	[Crate] [decimal](18, 2) NULL,
	[Kg_Or_Pcs] [nvarchar](10) NULL,
	[Total_Cost] [decimal](18, 2) NULL,
	[Status] [int] NULL,
	[Created_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DisContr_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExpenses]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExpenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](12) NOT NULL,
	[Title] [nvarchar](30) NULL,
	[Month] [nvarchar](10) NULL,
	[Year] [nvarchar](10) NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidDate] [datetime] NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[PaidBy] [nvarchar](50) NULL,
	[PaymentMode] [nvarchar](15) NULL,
	[TransactionNo] [nvarchar](15) NULL,
	[Receipt] [nvarchar](56) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblExpenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblIncome]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblIncome](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Month] [nvarchar](10) NULL,
	[Year] [nvarchar](10) NULL,
	[IncomeFrom] [nvarchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[AddedDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
 CONSTRAINT [PK_tblIncome] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMaintenance]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMaintenance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](12) NOT NULL,
	[Month] [nvarchar](10) NULL,
	[Year] [nvarchar](10) NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaymentMode] [nvarchar](15) NULL,
	[TransactionNo] [nvarchar](15) NULL,
	[PaidDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[Receipt] [nvarchar](56) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblMaintenance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblResident]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblResident](
	[FlatNo] [nvarchar](12) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[MobileNo] [nvarchar](12) NOT NULL,
	[Wing] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](30) NULL,
	[IsParking] [bit] NULL,
	[JoinDate] [datetime] NULL,
	[Adharcard] [nvarchar](56) NULL,
	[Photo] [nvarchar](56) NULL,
	[FlatType] [nvarchar](15) NULL,
	[Area] [nvarchar](26) NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblResident] PRIMARY KEY CLUSTERED 
(
	[FlatNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTenant]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTenant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](12) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[MobileNo] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PermanentAddress] [nvarchar](250) NULL,
	[Adharcard] [nvarchar](56) NULL,
	[Photo] [nvarchar](56) NULL,
	[PoliceDocumentVerification] [nvarchar](56) NULL,
	[RentedForm] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NULL,
	[UpdateBy] [int] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_tblTenant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVisitor]    Script Date: 3/18/2026 12:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVisitor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FlatNo] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Mobile] [nvarchar](15) NOT NULL,
	[Photo] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Frequency] [nvarchar](20) NOT NULL,
	[VisitDate] [date] NOT NULL,
	[VisitTime] [time](7) NOT NULL,
	[VehicleNo] [nvarchar](20) NULL,
	[Consent] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[VisitorDetails] [nvarchar](100) NULL,
	[NoOfPerson] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor_Master]    Script Date: 3/18/2026 12:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor_Master](
	[Vendor_Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor_Name] [varchar](200) NOT NULL,
	[Contact_Person] [varchar](100) NULL,
	[Address1] [varchar](200) NULL,
	[Address2] [varchar](200) NULL,
	[City] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Zip_Code] [varchar](20) NULL,
	[Country] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[GST_Number] [varchar](50) NULL,
	[Is_Active] [bit] NULL,
	[Created_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vendor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_Address] ([AddressID], [Client_ID], [Street], [City], [State], [Pincode], [Country], [AddressType]) VALUES (101, 1, N'12 MG Road', N'Mumbai', N'Maharashtra', N'400001', N'INDIA', N'Home')
INSERT [dbo].[_Address] ([AddressID], [Client_ID], [Street], [City], [State], [Pincode], [Country], [AddressType]) VALUES (102, 2, N'45 Brigade Road', N'Bangalore', N'Karnataka', N'560001', N'INDIA', N'Office')
INSERT [dbo].[_Address] ([AddressID], [Client_ID], [Street], [City], [State], [Pincode], [Country], [AddressType]) VALUES (103, 3, N'78 Park Street', N'Kolkata', N'West Bengal', N'700016', N'INDIA', N'Home')
INSERT [dbo].[_Client_01] ([Client_ID], [Name], [Email], [Age], [Country]) VALUES (1, N'Rahul Sharma', N'rahul@email.com', 25, N'India')
INSERT [dbo].[_Client_01] ([Client_ID], [Name], [Email], [Age], [Country]) VALUES (2, N'Priya Verma', N'priya@email.com', 30, N'India')
INSERT [dbo].[_Client_01] ([Client_ID], [Name], [Email], [Age], [Country]) VALUES (3, N'Amit Kumar', N'amit@email.com', 28, N'India')
INSERT [dbo].[_dept] ([dept_id], [dept_name]) VALUES (1, N'Marketing')
INSERT [dbo].[_dept] ([dept_id], [dept_name]) VALUES (2, N'Sales')
INSERT [dbo].[_dept] ([dept_id], [dept_name]) VALUES (3, N'IT')
INSERT [dbo].[_emp] ([emp_id], [emp_name], [mobile], [dept_id], [email], [address], [salary], [Dob], [doj]) VALUES (1, N'Praful waghmare', NULL, 1, N'pwaghmare@gmail.com', N'nagpur', 45500.0000, CAST(N'1999-02-12' AS Date), CAST(N'2024-02-25' AS Date))
INSERT [dbo].[_emp] ([emp_id], [emp_name], [mobile], [dept_id], [email], [address], [salary], [Dob], [doj]) VALUES (2, N'ashish meshram', N'0', 2, N'ameshram@gmail.com', N'nagpur', 35000.0000, CAST(N'1995-02-13' AS Date), CAST(N'2023-02-25' AS Date))
INSERT [dbo].[_emp] ([emp_id], [emp_name], [mobile], [dept_id], [email], [address], [salary], [Dob], [doj]) VALUES (3, N'umesh waghmare', N'0', 3, N'uwaghmare@gmail.com', N'nagpur', 40000.0000, CAST(N'1996-02-12' AS Date), CAST(N'2025-02-02' AS Date))
INSERT [dbo].[_emp_01] ([emp_id], [emp_name], [department], [salary]) VALUES (1, N'John', N'IT', 5000)
INSERT [dbo].[_emp_01] ([emp_id], [emp_name], [department], [salary]) VALUES (2, N'Sarah', N'HR', 4000)
INSERT [dbo].[_emp_01] ([emp_id], [emp_name], [department], [salary]) VALUES (3, N'Mike', N'IT', 6000)
INSERT [dbo].[_emp3411] ([emp_id], [emp_name], [department], [salary]) VALUES (1, N'John', N'IT', 5000)
INSERT [dbo].[_emp3411] ([emp_id], [emp_name], [department], [salary]) VALUES (2, N'Sarah', N'HR', 4000)
INSERT [dbo].[_emp3411] ([emp_id], [emp_name], [department], [salary]) VALUES (3, N'Mike', N'IT', 6000)
SET IDENTITY_INSERT [dbo].[Company_Master] ON 

INSERT [dbo].[Company_Master] ([Company_Id], [Company_Name], [Address1], [Address2], [City], [State], [Zip_Code], [Country], [Phone], [Fax], [Is_Active], [Created_Date]) VALUES (1, N'ApptSoft Pvt Ltd', N'IT Park', N'Building A', N'Nagpur', N'Maharashtra', N'440022', N'India', N'0712-123456', N'0712-654321', 1, CAST(N'2026-03-10T16:01:30.143' AS DateTime))
INSERT [dbo].[Company_Master] ([Company_Id], [Company_Name], [Address1], [Address2], [City], [State], [Zip_Code], [Country], [Phone], [Fax], [Is_Active], [Created_Date]) VALUES (2, N'ApptSoft Manufacturing Unit', N'Butibori MIDC', N'Plot 45', N'Nagpur', N'Maharashtra', N'441122', N'India', N'0712-222333', N'0712-333222', 1, CAST(N'2026-03-10T16:01:30.143' AS DateTime))
INSERT [dbo].[Company_Master] ([Company_Id], [Company_Name], [Address1], [Address2], [City], [State], [Zip_Code], [Country], [Phone], [Fax], [Is_Active], [Created_Date]) VALUES (3, N'ApptSoft Warehouse', N'Transport Nagar', N'Godown 12', N'Nagpur', N'Maharashtra', N'440008', N'India', N'0712-777888', N'0712-888777', 1, CAST(N'2026-03-10T16:01:30.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[Company_Master] OFF
INSERT [dbo].[Department] ([DeptID], [DeptName], [Location]) VALUES (1, N'HR', N'Nagpur')
INSERT [dbo].[Department] ([DeptID], [DeptName], [Location]) VALUES (2, N'IT', N'Pune')
INSERT [dbo].[Department] ([DeptID], [DeptName], [Location]) VALUES (3, N'Finance', N'Mumbai')
INSERT [dbo].[Empl] ([EmpID], [EmpName], [ManagerID]) VALUES (1, N'Rahul', NULL)
INSERT [dbo].[Empl] ([EmpID], [EmpName], [ManagerID]) VALUES (2, N'Amit', 1)
INSERT [dbo].[Empl] ([EmpID], [EmpName], [ManagerID]) VALUES (3, N'Priya', 1)
INSERT [dbo].[Employees] ([EmpID], [EmpName], [Gender], [Salary], [DeptID], [JoiningDate]) VALUES (101, N'KIRTI', N'F', 65000, 2, CAST(N'2022-04-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Employees] ([EmpID], [EmpName], [Gender], [Salary], [DeptID], [JoiningDate]) VALUES (102, N'Raj', N'M', 60000, 2, CAST(N'2021-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Employees] ([EmpID], [EmpName], [Gender], [Salary], [DeptID], [JoiningDate]) VALUES (103, N'Priya', N'F', 45000, 1, CAST(N'2023-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[employees_2023] ([id], [name], [department]) VALUES (1, N'John', N'HR')
INSERT [dbo].[employees_2023] ([id], [name], [department]) VALUES (2, N'Alice', N'IT')
INSERT [dbo].[employees_2024] ([id], [name], [department]) VALUES (3, N'Bob', N'Finance')
INSERT [dbo].[employees_2024] ([id], [name], [department]) VALUES (2, N'Alice', N'IT')
SET IDENTITY_INSERT [dbo].[JobCard_Details] ON 

INSERT [dbo].[JobCard_Details] ([JCD_Id], [JobCard_Id], [Item_No], [Item_Description], [Qty_Per_Bale], [Bale_Count], [Total_Quantity], [Unit], [Process_Type], [Completed_Qty]) VALUES (11, 7, N'1002', N'test item 1', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[JobCard_Details] ([JCD_Id], [JobCard_Id], [Item_No], [Item_Description], [Qty_Per_Bale], [Bale_Count], [Total_Quantity], [Unit], [Process_Type], [Completed_Qty]) VALUES (12, 7, N'1005', N'test item 2', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[JobCard_Details] OFF
SET IDENTITY_INSERT [dbo].[JobCard_Master] ON 

INSERT [dbo].[JobCard_Master] ([JobCard_Id], [JobCard_Number], [PO_Id], [PO_Number], [Vendor_Id], [Company_Id], [Job_Date], [Buyer_Name], [Status], [Created_Date]) VALUES (7, N'JC639088434720957926', 5, N'PO20260315', 2, 3, CAST(N'2026-03-11T00:00:00.000' AS DateTime), NULL, 0, CAST(N'2026-03-11T16:31:12.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobCard_Master] OFF
SET IDENTITY_INSERT [dbo].[Production_Operations] ON 

INSERT [dbo].[Production_Operations] ([Operation_Id], [Operation_Name], [Sequence_No]) VALUES (1, N'Extrusion (Tape Plant)', 1)
INSERT [dbo].[Production_Operations] ([Operation_Id], [Operation_Name], [Sequence_No]) VALUES (2, N'Weaving (Loom)', 2)
INSERT [dbo].[Production_Operations] ([Operation_Id], [Operation_Name], [Sequence_No]) VALUES (3, N'Lamination', 3)
SET IDENTITY_INSERT [dbo].[Production_Operations] OFF
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([PO_Id], [PO_Number], [PO_Date], [Vendor_Id], [Company_Id], [Buyer_Name], [Buyer_Phone], [Ship_Via], [Receive_By_Date], [Payment_Terms], [Currency], [Sub_Total], [Tax_Amount], [Freight], [Discount], [Grand_Total], [PO_Status], [Approved_By], [Approved_Date], [Created_By], [Created_Date], [Is_Active], [Status]) VALUES (2, N'PO20260310', CAST(N'2026-03-10' AS Date), 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(40000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, CAST(N'2026-03-10T16:03:34.727' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
SET IDENTITY_INSERT [dbo].[PurchaseOrder_Details] ON 

INSERT [dbo].[PurchaseOrder_Details] ([POD_Id], [PO_Id], [Item_No], [Item_Description], [Qty_Per_Bale], [Bale_Count], [Total_Quantity], [Unit], [Unit_Price], [Line_Total], [Remarks]) VALUES (1, 2, N'1001', N'test item desc', NULL, NULL, 20, NULL, CAST(800.00 AS Decimal(18, 2)), CAST(16000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[PurchaseOrder_Details] ([POD_Id], [PO_Id], [Item_No], [Item_Description], [Qty_Per_Bale], [Bale_Count], [Total_Quantity], [Unit], [Unit_Price], [Line_Total], [Remarks]) VALUES (2, 2, N'1002', N'test item desc2', NULL, NULL, 40, NULL, CAST(600.00 AS Decimal(18, 2)), CAST(24000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[PurchaseOrder_Details] ([POD_Id], [PO_Id], [Item_No], [Item_Description], [Qty_Per_Bale], [Bale_Count], [Total_Quantity], [Unit], [Unit_Price], [Line_Total], [Remarks]) VALUES (3, 3, N'1001', N'test item 1', NULL, NULL, 56, NULL, CAST(566.00 AS Decimal(18, 2)), CAST(31696.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[PurchaseOrder_Details] OFF
SET IDENTITY_INSERT [dbo].[tblContractor] ON 

INSERT [dbo].[tblContractor] ([Contractor_Id], [Contractor_Name], [Status]) VALUES (1, N'PRADHAN', 1)
INSERT [dbo].[tblContractor] ([Contractor_Id], [Contractor_Name], [Status]) VALUES (2, N'RAVI BARMAN', 1)
INSERT [dbo].[tblContractor] ([Contractor_Id], [Contractor_Name], [Status]) VALUES (3, N'GOPAL', 1)
SET IDENTITY_INSERT [dbo].[tblContractor] OFF
SET IDENTITY_INSERT [dbo].[tblDispatch] ON 

INSERT [dbo].[tblDispatch] ([Dispatch_Id], [Sr_No], [Customer], [PO_Number], [PO_Id], [Size_Of_Bag], [Req_Wt], [Total_Req_Wt], [Actual_Quantity], [Act_Wt], [Total_Act_Wt], [Rate], [Kg_Or_Pcs], [Total_Cost], [Contractor], [Status], [Created_Date]) VALUES (5, NULL, N'KUKU-494', N'J368', 1, N'60X116X130', CAST(1.08 AS Decimal(18, 2)), CAST(9867.84 AS Decimal(18, 2)), 9120, CAST(1.06 AS Decimal(18, 2)), CAST(9681.00 AS Decimal(18, 2)), CAST(12.50 AS Decimal(18, 2)), N'KG', CAST(121012.50 AS Decimal(18, 2)), NULL, 1, NULL)
INSERT [dbo].[tblDispatch] ([Dispatch_Id], [Sr_No], [Customer], [PO_Number], [PO_Id], [Size_Of_Bag], [Req_Wt], [Total_Req_Wt], [Actual_Quantity], [Act_Wt], [Total_Act_Wt], [Rate], [Kg_Or_Pcs], [Total_Cost], [Contractor], [Status], [Created_Date]) VALUES (6, NULL, N'DISP 01/02/2026', N'J367', 5, N'89X94X120', CAST(1.91 AS Decimal(18, 2)), CAST(10314.00 AS Decimal(18, 2)), 5400, CAST(1.89 AS Decimal(18, 2)), CAST(10241.00 AS Decimal(18, 2)), CAST(14.50 AS Decimal(18, 2)), N'KG', CAST(148494.50 AS Decimal(18, 2)), NULL, 1, NULL)
INSERT [dbo].[tblDispatch] ([Dispatch_Id], [Sr_No], [Customer], [PO_Number], [PO_Id], [Size_Of_Bag], [Req_Wt], [Total_Req_Wt], [Actual_Quantity], [Act_Wt], [Total_Act_Wt], [Rate], [Kg_Or_Pcs], [Total_Cost], [Contractor], [Status], [Created_Date]) VALUES (7, NULL, N'ARPA 106', N'V 2', 6, N'95X95X130', CAST(1.26 AS Decimal(18, 2)), CAST(2142.00 AS Decimal(18, 2)), 1700, CAST(1.27 AS Decimal(18, 2)), CAST(2172.00 AS Decimal(18, 2)), CAST(12.50 AS Decimal(18, 2)), N'KG', CAST(27150.00 AS Decimal(18, 2)), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[tblDispatch] OFF
SET IDENTITY_INSERT [dbo].[tblDispatchContractor] ON 

INSERT [dbo].[tblDispatchContractor] ([DisContr_Id], [Dispatch_Id], [Contractor_Id], [Contractor_Name], [Customer], [PO_Ref_No], [Size_Of_Bag], [Actual_Quantity], [Act_Wt], [Total_Wt], [Rate], [Crate], [Kg_Or_Pcs], [Total_Cost], [Status], [Created_Date]) VALUES (21, 5, 25, N'ROHIT', N'KUKU-494', N'J368', N'60X116X130', 2254, CAST(1.06 AS Decimal(18, 2)), CAST(2392.65 AS Decimal(18, 2)), CAST(12.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'KG', CAST(29908.13 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[tblDispatchContractor] ([DisContr_Id], [Dispatch_Id], [Contractor_Id], [Contractor_Name], [Customer], [PO_Ref_No], [Size_Of_Bag], [Actual_Quantity], [Act_Wt], [Total_Wt], [Rate], [Crate], [Kg_Or_Pcs], [Total_Cost], [Status], [Created_Date]) VALUES (22, 5, 1, N'PRADHAN', N'KUKU-494', N'J368', N'60X116X130', 6866, CAST(1.06 AS Decimal(18, 2)), CAST(7288.35 AS Decimal(18, 2)), CAST(12.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'KG', CAST(91104.37 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[tblDispatchContractor] ([DisContr_Id], [Dispatch_Id], [Contractor_Id], [Contractor_Name], [Customer], [PO_Ref_No], [Size_Of_Bag], [Actual_Quantity], [Act_Wt], [Total_Wt], [Rate], [Crate], [Kg_Or_Pcs], [Total_Cost], [Status], [Created_Date]) VALUES (23, 6, 1, N'PRADHAN', N'DISP 01/02/2026', N'J367', N'89X94X120', 5400, CAST(1.89 AS Decimal(18, 2)), CAST(10241.00 AS Decimal(18, 2)), CAST(14.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'KG', CAST(148494.50 AS Decimal(18, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[tblDispatchContractor] OFF
SET IDENTITY_INSERT [dbo].[tblResident] ON 

INSERT [dbo].[tblResident] ([FlatNo], [Id], [FirstName], [LastName], [MobileNo], [Wing], [Email], [Password], [IsParking], [JoinDate], [Adharcard], [Photo], [FlatType], [Area], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (N'101', 1, N'Priyanka Amol Pande', N'Amol Pande', N'09766813313', N'logistics', N'amolpande143@gmail.com', N'Amol@1980', 0, CAST(N'2026-03-10T00:00:00.000' AS DateTime), N'', N'', N'MH31CJ5070', N'MH40ET1677', NULL, CAST(N'2025-03-31T12:07:57.760' AS DateTime), 4, CAST(N'2026-03-11T11:03:09.073' AS DateTime))
INSERT [dbo].[tblResident] ([FlatNo], [Id], [FirstName], [LastName], [MobileNo], [Wing], [Email], [Password], [IsParking], [JoinDate], [Adharcard], [Photo], [FlatType], [Area], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (N'102', 2, N'Bharti Subhash Ukey', N'Subhash Ukey', N'9975152164', N'planning_head', N'test@gmail.com', N'123456', 0, CAST(N'2026-03-10T00:00:00.000' AS DateTime), N'', N'', N'MH31GA2860', N'MH31/2260', NULL, CAST(N'2025-03-29T21:54:21.677' AS DateTime), 4, CAST(N'2026-03-11T11:02:50.357' AS DateTime))
INSERT [dbo].[tblResident] ([FlatNo], [Id], [FirstName], [LastName], [MobileNo], [Wing], [Email], [Password], [IsParking], [JoinDate], [Adharcard], [Photo], [FlatType], [Area], [CreateBy], [CreateDate], [UpdateBy], [UpdateDate]) VALUES (N'103', 3, N'Adwait Rajeshwar Buldeo', N'Milind Ghumre(Tenant)', N'8600260938', N'admin', N'test@gmail.com', N'123456', 0, CAST(N'2026-03-09T00:00:00.000' AS DateTime), N'', N'', N'MH31FE8187', N'MH31FT5044', NULL, CAST(N'2025-03-31T11:13:52.197' AS DateTime), 4, CAST(N'2026-03-11T11:02:26.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblResident] OFF
SET IDENTITY_INSERT [dbo].[Vendor_Master] ON 

INSERT [dbo].[Vendor_Master] ([Vendor_Id], [Vendor_Name], [Contact_Person], [Address1], [Address2], [City], [State], [Zip_Code], [Country], [Phone], [Email], [GST_Number], [Is_Active], [Created_Date]) VALUES (1, N'Shree Steel Suppliers', N'Rajesh Sharma', N'MIDC Industrial Area', N'Plot 22', N'Nagpur', N'Maharashtra', N'440016', N'India', N'9876543210', N'shreesteel@gmail.com', N'27ABCDE1234F1Z5', 1, CAST(N'2026-03-10T16:01:21.020' AS DateTime))
INSERT [dbo].[Vendor_Master] ([Vendor_Id], [Vendor_Name], [Contact_Person], [Address1], [Address2], [City], [State], [Zip_Code], [Country], [Phone], [Email], [GST_Number], [Is_Active], [Created_Date]) VALUES (2, N'Global Packaging Ltd', N'Amit Verma', N'Sector 18', N'Industrial Zone', N'Pune', N'Maharashtra', N'411045', N'India', N'9823012345', N'globalpack@gmail.com', N'27AAACG3456K1Z9', 1, CAST(N'2026-03-10T16:01:21.020' AS DateTime))
INSERT [dbo].[Vendor_Master] ([Vendor_Id], [Vendor_Name], [Contact_Person], [Address1], [Address2], [City], [State], [Zip_Code], [Country], [Phone], [Email], [GST_Number], [Is_Active], [Created_Date]) VALUES (3, N'Sunrise Raw Materials', N'Vikas Patil', N'Bhandara Road', N'Near Transport Nagar', N'Nagpur', N'Maharashtra', N'440008', N'India', N'9890012345', N'sunrise@gmail.com', N'27AAAFS9876P1Z2', 1, CAST(N'2026-03-10T16:01:21.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vendor_Master] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ___Client___A9D105343F489AC1]    Script Date: 3/18/2026 12:49:37 PM ******/
ALTER TABLE [dbo].[_Client_01] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_Address] ADD  DEFAULT ('INDIA') FOR [Country]
GO
ALTER TABLE [dbo].[_Client_01] ADD  DEFAULT ('India') FOR [Country]
GO
ALTER TABLE [dbo].[Company_Master] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Company_Master] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ('USD') FOR [Currency]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ('Draft') FOR [PO_Status]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tblContractor] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[tblDispatch] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[tblDispatchContractor] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[tblVisitor] ADD  DEFAULT ((1)) FOR [Consent]
GO
ALTER TABLE [dbo].[tblVisitor] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Vendor_Master] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Vendor_Master] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[_Address]  WITH CHECK ADD FOREIGN KEY([Client_ID])
REFERENCES [dbo].[_Client_01] ([Client_ID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[Department] ([DeptID])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PO_Company] FOREIGN KEY([Company_Id])
REFERENCES [dbo].[Company_Master] ([Company_Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PO_Company]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PO_Vendor] FOREIGN KEY([Vendor_Id])
REFERENCES [dbo].[Vendor_Master] ([Vendor_Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PO_Vendor]
GO
ALTER TABLE [dbo].[PurchaseOrder_Details]  WITH CHECK ADD  CONSTRAINT [FK_PO_Details] FOREIGN KEY([PO_Id])
REFERENCES [dbo].[PurchaseOrder] ([PO_Id])
GO
ALTER TABLE [dbo].[PurchaseOrder_Details] CHECK CONSTRAINT [FK_PO_Details]
GO
ALTER TABLE [dbo].[_Address]  WITH CHECK ADD CHECK  (([AddressType]='Office' OR [AddressType]='Home'))
GO
ALTER TABLE [dbo].[_Client_01]  WITH CHECK ADD CHECK  (([Age]>=(18)))
GO
