
@{
    ViewBag.Title = "Change Password";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


<style>
    input {
        background: #FFFFEE;
    }

    .red {
        background-color: red;
    }
</style>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <!-- Floating Labels Form -->
                    <form class="row g-3">
                        <div style="background-color: #f1f1f1; border-left: 5px solid #2196F3; padding: 10px; margin-bottom: 15px; font-family: sans-serif;">
                            <strong>Security Tip:</strong> For your safety, choose a strong password with at least 8 characters including uppercase letters, lowercase letters, numbers, and special symbols. Never share your password with anyone.
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="txtMobileNo" placeholder="MobileNo" maxlength="10">
                                <label for="floatingResolved By">Mobile No</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="txtoldPassword" placeholder="Old Password" maxlength="10">
                                <label for="Old Password">Old Password</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="txtnewPassword" placeholder="New Password" maxlength="10">
                                <label for="New Password">New Password</label><small id="passwordStrength" style="font-weight:bold;"></small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="txtnewcPassword" placeholder="New Password" maxlength="10">
                                <label for="New Password">Confirm New Password</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <button type="submit" class="btn btn-primary" onclick="SavePassword()">Submit</button>
                            </div>
                        </div>

                    </form><!-- End floating Labels Form -->
                </div>

            </div>
        </div>

    </div>

</section>
<script>
    var SavePassword = function () {
        var mobileno = $("#txtMobileNo").val();
        var opassword = $("#txtoldPassword").val();
        var npassword = $("#txtnewPassword").val();
        var ncpassword = $("#txtnewcPassword").val();
        if (mobileno === "") {
            alert("Mobile no is required.");
            $("#txtMobileNo").focus();
            return;
        }
        if (opassword === "") {
            alert("Old Password is required.");
            $("#txtoldPassword").focus();
            return;
        }
        if (npassword === "") {
            alert("New Password is required.");
            $("#txtnewPassword").focus();
            return;
        }
        if (ncpassword === "") {
            alert("Confirm Password is required.");
            $("#txtnewcPassword").focus();
            return;
        }

        if (npassword !== ncpassword) {
            alert("New Password and Confirm Password do not match.");
            $("#txtnewcPassword").focus();
            return;
        }
        var model = { MobileNo: mobileno, oldPass: opassword, newPassword: npassword };

        $.ajax({
            url: "/Login/ChangePasswordSubmit",
            method: "post",
            data: JSON.stringify(model),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                alert(response.model);
            }
        });
    }
 
</script>
<script>
    $("#txtnewPassword").on("input", function () {
        var password = $(this).val();
        var strengthText = "";
        var strengthColor = "";

        if (password.length < 6) {
            strengthText = "Too short";
            strengthColor = "red";
        } else {
            var strength = 0;
            if (/[a-z]/.test(password)) strength++;
            if (/[A-Z]/.test(password)) strength++;
            if (/\d/.test(password)) strength++;
            if (/[$!%*?&]/.test(password)) strength++;

            switch (strength) {
                case 1:
                    strengthText = "Weak";
                    strengthColor = "red";
                    break;
                case 2:
                    strengthText = "Moderate";
                    strengthColor = "orange";
                    break;
                case 3:
                    strengthText = "Strong";
                    strengthColor = "blue";
                    break;
                case 4:
                    strengthText = "Very Strong";
                    strengthColor = "green";
                    break;
            }
        }

        $("#passwordStrength").text("Strength: " + strengthText).css("color", strengthColor);

        if (password.length === 0) {
            $("#passwordStrength").text("");
        }
    });
</script>